body{
    margin: 0;
    padding: 0;
    background-color: #f6f7fc;
    font-family: Arial, Helvetica, sans-serif;
    }
    h1{
        margin-top: 0px;
        color: #f6f7fc;
        padding: 30px;
    }
    .navBar{
        background-color: #114b5f;
        text-align: center;
    }
    nav{
        background-color: #114b5f;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
        text-align: left;
        padding-left: 70px;        
    }
    .navBar1{
        background-color: #114b5f;
        text-align: left;
        padding-left: 70px;  
    }
    .img-name{
        width: 320px;
        overflow: hidden;
        margin: auto;
        margin-top: 60px;
        margin-bottom: 100px;
        padding: 80px;
        background-color: #ffffff;
        border-radius: 10px;
        text-align: center;
        box-shadow: 0 3px 8px 0 rgba(51, 51, 51, 0.2), 0 10px 8px 0 rgba(51, 51, 51, 0.2);
    }
    #fullname{
        width: 300px;
        height: 30px;
        border-color: #1a936f;
        border-radius: 3px;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 16px;
    }
    #next-btn{
        color: white;
        background-color: #f6f7fc;
        padding: 10px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border: 2px solid #1a936f;
        border-radius: 5px;
        font-family: 'Roboto',sans-serif;
        font-weight: 0;
        transition: all 0.2s;
        color: #1a936f;
        box-shadow: 0 3px 8px 0 rgba(51, 51, 51, 0.2), 0 10px 60px 0 rgba(51, 51, 51, 0.2);
    }
    #next-btn:hover{
        color:#ffffff;
        background-color:#114b5f;
    }
    input[type=text]{
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
        border: 2px solid #fb771a;
        outline: none;
    }
    #result-fullname{
        text-align: right;
        margin-right: 60px;
        color: #f6f7fc;
        font-size: 18px;
        font-weight: 100;
        padding-bottom: 20px;
        float: right;
    }
    .avatar {
        vertical-align: middle;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: 0px;
        margin-bottom: 30px;
    }
    #upload-img{
        text-align: center;
        margin-left: 60px;
        margin-bottom: 20px;
    }
    ul li {
        list-style: none;
        display: inline-block;        
    }
    ul li a {
        text-decoration: none;
        font-size: 20px;
        display: block;
        font-family: Arial, Helvetica, sans-serif;
        color: #1a936f;
        padding: 7px 20px;
    }
    .menu-bar{
        background-color: #f6f7fc;
        text-align: center;
    }
    .active, .menu-bar ul li a:hover {
        background: #114B5F;
        color: #f6f7fc;
        border-radius: 3px;
    }
    .sub-menu1{
        display: none;
    }
    .menu-bar, .sub-menu1 ul li a{
        color: #f6f7fc;
        margin-left: 0px;
    }
    .menu-bar ul li:hover .sub-menu1{
        display: block;
        position: absolute;
        color: #f6f7fc;
        background-color: #114B5F;
        margin-top: 1px;
        margin-right: 150px;
        width: 220px;
    }
    .menu-bar ul li:hover .sub-menu1 ul{
        display: block;
        margin: 10px;
        margin-left: -50px;
    }
    .menu-bar ul li:hover .sub-menu1 ul li{
        width: 120px;
        padding: 10px;
        border-bottom: 1px dotted #fff;
        background: transparent;
        border-radius: 0;
        text-align: left;
    }
    .menu-bar ul li:hover .sub-menu1 ul li:last-child{
        border-bottom: none;
    }
    .menu-bar ul li:hover .sub-menu1 ul li a:hover{
        color: #88d498;
    }
    .fa-angle-right{
        float: right;
        margin-top: -26px;
        margin-right: 0px;
    }
    .sub-menu2{
        display: none;
    }
    .on-hover:hover .sub-menu2{
        padding: 0px 20px;
        position: absolute;
        display: block;
        margin-top: -40px;
        margin-left: 160px;
        background: #114B5F;
    }
    footer {
        position: fixed;
        width: 100%;
        background-color: #114B5F;
        color: #f6f7fc;
        text-align: center;
        bottom: 0;        
    }
    footer p{
        font-size: 26px;
    }
    .fa{
        padding: 10px;
        padding-bottom: 30px;
        text-decoration: none;
        border-radius: 50%;
        width: 30px;
        font-size: 10px;
        margin-right: 20px;
    }
    .fa:hover{
        background: #1a936f;
        color: #f6f7fc;
        box-shadow: 0 0 11px rgba(238, 238, 238, 0.925); 
    }
    .fa-facebook{
        background: white;
        color: #3B5998;
        height: 9px;
        margin-bottom: 30px;    
    }
    .fa-twitter{
        background: white;
        color: #55ACEE;
        height: 9px;
        margin-bottom: 30px;    
    }
    .fa-linkedin-square{
        background: white;
        color: #007bb5;
        height: 9px;
        margin-bottom: 30px;    
    }
    .fa-github{
        background: white;
        color: rgb(41, 40, 40);
        height: 9px;
        margin-bottom: 30px;    
    }
    .fa-instagram{
        background: white;
        color: #f40083;
        height: 9px;
        margin-bottom: 30px;    
    }