body{
    margin: 0;
    padding: 0;
    background-color: #f6f7fc;
    font-family: Arial, Helvetica, sans-serif;
    }
    h1{
        margin-top: 0px;
        color: #f6f7fc;
        padding: 30px;
    }
    .navBar{
        background-color: #114b5f;
        text-align: center;
        font-family: cursive;
    }
    nav{
        background-color: #114b5f;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
        text-align: left;
        padding-left: 70px;        
    }
    .navBar1{
        background-color: #114b5f;
        text-align: left;
        font-family: cursive;
        font-size: 28px;
    }
    .img-name{
        width: 320px;
        overflow: hidden;
        margin: auto;
        margin-top: 60px;
        margin-bottom: 100px;
        padding: 80px;
        background-color: #ffffff;
        border-radius: 10px;
        text-align: center;
        box-shadow: 0 3px 8px 0 rgba(51, 51, 51, 0.2), 0 10px 8px 0 rgba(51, 51, 51, 0.2);
    }
    #fullname{
        width: 300px;
        height: 30px;
        border-color: #1a936f;
        border-radius: 3px;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 16px;
    }
    #next-btn{
        color: white;
        background-color: #f6f7fc;
        padding: 10px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border: 2px solid #1a936f;
        border-radius: 5px;
        font-family: 'Roboto',sans-serif;
        font-weight: 0;
        transition: all 0.2s;
        color: #1a936f;
        margin-bottom: 30px;
        box-shadow: 0 3px 8px 0 rgba(51, 51, 51, 0.2), 0 10px 60px 0 rgba(51, 51, 51, 0.2);
    }
    #next-btn:hover{
        color:#ffffff;
        background-color:#114b5f;
    }
    input[type=text]{
        width: 300px;
        height: 30px;
        border-color: #1a936f;
        border-radius: 3px;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 10px;
        font-size: 16px;
    }
    #result-fullname{
        text-align: right;
        margin-right: 60px;
        color: #f6f7fc;
        font-size: 18px;
        font-weight: 100;
        padding-bottom: 20px;
        float: right;
    }
    .avatar {
        vertical-align: middle;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: 0px;
        margin-bottom: 30px;
    }
    #upload-img{
        text-align: center;
        margin-left: 60px;
        margin-bottom: 20px;
    }
    .mySideMenu{
        font-size: 30px;
        color: #f6f7fc;
        cursor: pointer;
        padding-right: 70px;
    }
    .sideMenu{
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #114b5f;
        box-shadow: 2px 5px 20px 8px rgba(0, 0, 0, 0.308);
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }
    .mySideMenu:hover{
        color: #1a936f;
    }
    .sideMenu a{
        padding: 22px 8px 8px 36px;
        text-decoration: none;
        font-size: 22px;
        color: #f6f7fc;
        display: block;
        transition: 0.3s;
        margin-top: 10px;
    }
    .sideMenu a:hover{
        color: #f6f7fc;
        font-size: 28px;
        font-weight: 500;
    }
    .sideMenu .closebtn{
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
    .sideMenu .closebtn:hover{
        font-size: 44px;
    }
    ul li {
        list-style: none;
        display: inline-block;        
    }
    ul li a {
        text-decoration: none;
        font-size: 20px;
        display: block;
        font-family: Arial, Helvetica, sans-serif;
        color: #f6f7fc;
        padding: 7px 18px;
    }
    .item{
        background-color: #1a936f;
        margin-right: 15px;
        border-radius: 10px;
    }
    .menu-bar{
        text-align: center;
    }
    .active, .menu-bar ul li a:hover {
        background: #1a936f;
        color: #f6f7fc;
        border-radius: 3px;
        border-radius: 10px 10px 0px 0px;
    }
    .sub-menu1{
        display: none;
    }
    .menu-bar, .sub-menu1 ul li a{
        color: #f6f7fc;
        margin-left: 0px;
    }
    .menu-bar ul li:hover .sub-menu1{
        display: block;
        position: absolute;
        color: #f6f7fc;
        background-color: #1a936f;
        margin-top: 1px;
        margin-right: 150px;
        width: 220px;
    }
    .menu-bar ul li:hover .sub-menu1 ul{
        display: block;
        margin: 8px;
        margin-left: -50px;
    }
    .menu-bar ul li:hover .sub-menu1 ul li{
        width: 120px;
        padding: 8px;
        border-bottom: 1px dotted #fff;
        background: transparent;
        border-radius: 0;
        text-align: left;
    }
    .menu-bar ul li:hover .sub-menu1 ul li:last-child{
        border-bottom: none;
    }
    .menu-bar ul li:hover .sub-menu1 ul li a{
        font-size: 18px;
    }
    .menu-bar ul li:hover .sub-menu1 ul li a:hover{
        color: #87CEEB;
        font-size: 19px;
        transition: 0.2s;
        font-weight: 300;
    }
    .fa-angle-right{
        float: right;
        margin-top: -36px;
        margin-bottom: -10px;
        position: relative;
        left: 80px;
    }
    .sub-menu2{
        display: none;
    }
    .on-hover:hover .sub-menu2{
        padding: 0px 20px;
        position: absolute;
        display: block;
        margin-top: -40px;
        margin-left: 160px;
        padding-left: 50px;
        background: #1a936f;
    }
    section{
        background: url(images/bg5.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 700px;
        margin-top: -105px;
    }
    .side-pic{
        width: 50%;
        float: left;
        margin-top: 25px;
        margin-left: 60px;
    }
    .centered{
        top: 50%;
        color: #f6f7fc;
        font-size: 44px;
        /* position: relative;
        text-align: center; */
        transform: translate(-50%, -50%);
      }
      .centered .para1{
          font-size: 30px;
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      }
      .details{
          margin: 40px;
          margin-left: 850px;
      }
      .details h2{
          margin-bottom: 38px;
          margin-left: 80px;
          margin-bottom: 10px;
      }
      input[type=email]{
        width: 300px;
        height: 30px;
        border-color: #1a936f;
        border-radius: 3px;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 10px;
        font-size: 16px;
    }
    input:invalid {
        border: 2px solid red;
    }
    #submit-btn{
        color: white;
        background-color: #f6f7fc;
        padding: 10px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border: 2px solid #1a936f;
        border-radius: 5px;
        font-family: 'Roboto',sans-serif;
        font-weight: 0;
        transition: all 0.2s;
        color: #1a936f;
        margin-top: 20px;
        margin-left: 100px;
        margin-bottom: 30px;
        box-shadow: 0 3px 8px 0 rgba(51, 51, 51, 0.2), 0 10px 60px 0 rgba(51, 51, 51, 0.2);
    }
    #submit-btn:hover{
        color:#ffffff;
        background-color:#114b5f;
    }
    footer {
        /* position: fixed; */
        width: 100%;
        background-color: #114b5f;
        color: #f6f7fc;
        text-align: center;
        bottom: 0;
        padding-top: 2px;
    }
    footer p{
        font-size: 20px;
    }
    .fa{
        padding: 10px;
        padding-bottom: 30px;
        text-decoration: none;
        border-radius: 50%;
        width: 30px;
        font-size: 10px;
        margin-right: 25px;
    }
    .fa-facebook{
        background: #1a936f;
        color: #f6f7fc;
        height: 9px;
        margin-bottom: 20px;    
    }
    .fa-twitter{
        background: #1a936f;
        color: #f6f7fc;
        height: 9px;
        margin-bottom: 20px;    
    }
    .fa-linkedin-square{
        background: #1a936f;
        color: #f6f7fc;
        height: 9px;
        margin-bottom: 20px;    
    }
    .fa-github{
        background: #1a936f;
        color: #f6f7fc;
        height: 9px;
        margin-bottom: 20px;    
    }
    .fa-instagram{
        background: #1a936f;
        color: #f6f7fc;
        height: 9px;
        margin-bottom: 20px;    
    }
    .fa-facebook:hover{
        background: white;
        color: #3B5998;
        box-shadow: 0 0 11px rgba(238, 238, 238, 0.925); 
    }
    .fa-twitter:hover{
        background: white;
        color: #55ACEE;
        box-shadow: 0 0 11px rgba(238, 238, 238, 0.925); 
    }
    .fa-linkedin-square:hover{
        background: white;
        color: #007bb5;
        box-shadow: 0 0 11px rgba(238, 238, 238, 0.925); 
    }
    .fa-github:hover{
        background: white;
        color: rgb(41, 40, 40);
        box-shadow: 0 0 11px rgba(238, 238, 238, 0.925); 
    }
    .fa-instagram:hover{
        background: white;
        color: #f40083;
        box-shadow: 0 0 11px rgba(238, 238, 238, 0.925); 
    }